<div class="wu-myReceiver">
  <h3>Receivers</h3>
  <div class="wu-each-myReceiver" *ngFor="let receiver of receiverArray">
    <div><img [src]="receiver.url" alt="flag the user belongs to"></div>
    <p>{{receiver.firstName}} {{receiver.lastName}}</p>
    <i (click)="editReceiver(receiver.id)" class="fa-solid fa-pen-to-square"></i>
    <i (click)="deleteReceiver(receiver.id)" class="fa-solid fa-trash"></i>
    <!-- <button >Edit</button>
    <button >Delete</button> -->
  </div>
  <button (click)="addReceiver()">Add Receiver</button>
</div>
